body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-left: calc(50% - 400px); 
    width: 800px;
}

.main-header {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
}

.logo {
    height: 40px;
    width: 100px;
    object-fit: contain;
    object-position: left;
   
}

.main-nav { 
    display: flex;
    gap: 30px;
}

.main-nav> .link {
    color: black; 
    font-size: 20px;
    text-decoration: none;   
}

.main-nav> .link:hover { 
    text-decoration: underline;
}    

.main-content { 
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.left-column { 
    width: 40%;
    
}

.title {
    font-size: 40px;
}

.title>span { 
    font-weight: normal;
    display: block;
}

.title::after{
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background-color: #662C8C;
}

.btn { 
    border-radius: 1.6em;
    background-color: #662C8C;
    float: left;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 1em;
    padding: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin: 0.5em;
    margin-left: 0;
    border: 0.1em solid #662C8C;
}

.btn:hover {
    background-color: white;
    color: #662C8C;
}

.main-image {
    width: 60%;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials { 
    display: flex;
    gap: 1em; 
}

.social-link {
    font-size: 30px;
    color: #cbcccc;
    text-decoration: none;  
}

.copyright {
    margin: 0;  
}